/* logo iconice */
*{
    margin: 0;
    padding: 0;
}

.driveLogo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.teamLogo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.raceLogo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.mainLogo {
    border-radius: 20px;
    width: 150px
}

/* ------Driver info----- */

.driver-bio {
    width: 25%;
    padding: 20px;
    background-color: #565656;
    box-shadow: 0 0 10px inset #000;
    color: #fff;
}

.drivers-data {
    display: inline-block;
    padding-left: 20px;
}

.drivers-photo {
    display: inline-block;
    width: 80px;
    border-radius: 10px;
}

.navigation.nav.nav-tabs {
    height: 100vh;
    border: none;
}

.drivers-info {
    border-bottom: 1px solid #000;
    /* width: calc(100% + 40px); */
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px;
    color: #fff;
}

.button {
    /* font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 20em;
     */
    display: inline;
    flex-direction: column;
    align-items: center;
    padding: 3px 10px;
    margin: 10px;

    border-radius: 6px;
    border: none;

    background: #6E6D70;
    color: #DFDEDF;

    border: 1px solid;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main {
    display: flex;
    height: max;
    background-color: #848389;
    width: 100%;
}

.driverDetailsContainer{
    width: 100%;
}

.deteNav,
.info {
    flex-direction: column;
    border: solid 1px #d3d0d042;
}

.sidebar {
    width: 10%;
    background-color: #35333e;
}

.driverBody {
    width: 90%;
}

.details-info {
    width: 88%;
}

.content-table.raceInfo {
    width: 43%;
}

.raceResults {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

.raceResultsInfo {
    background-color: #35333e;
    color: white;
    padding: 5px;
    width: 14%;
}

.info {
    background-color: #35333e;
    color: white;
    padding: 5px;
    width: 14%;
}

/* tabela */

.content-table {
    border-collapse: collapse;
    margin: 50px 50px;
    width: 93%;
    /* min-width: 400px; */
    /* wisth: 83vw; */
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content-table thead tr {
    background-color: #d6d6d6;
    color: #7f7d7d;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.content-table tbody tr {
    border: 1px solid #dddddd;
    background-color: #fff;
}

.title {
    font-family: 'Dancing Script', cursive;
    margin: 50px 50px;
    color: #fff;
    font-size: 50px;
}

.nav-link.titleSidebar {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 30px;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background-color: #848389;
}


.About {
    display: flex;
}

.Picture img {
    width:60px;
    border-radius: 3px;
}

/* dodato naknadno za tabelu i receResultsInfo */

.raceResultsInfo {
    background-color: #46444e;
    color: white;
    flex-direction: column;
    border: solid 1px #d3d0d042;
    padding: 5px;
    width: 14%;
}

tbody tr td:first-child {
    width: 4em;
    min-width: 4em;
    max-width: 5em;
    word-break: break-all;
    text-align: center;
}

tbody tr td:nth-child(4) {
    width: 10em;
    min-width: 4em;
    max-width: 8em;
    word-break: break-all;
    text-align: center;
}

.num-b {
    font-weight: bold;
    color: rgb(63, 63, 63);
}

.num-box {
    width: 10em;
    min-width: 4em;
    max-width: 8em;
    word-break: break-all;
    text-align: center;
}



/* responsive layout */


@media screen and (min-width:1480px) and (max-width: 1765px) {
    .sidebar {
        width: auto;
    }
}

@media screen and (min-width:1366px) and (max-width:1480px) {
    .sidebar {
        width: auto;
    }
}

@media screen and (min-width:1024px) and (max-width:1366px) {
    .sidebar {
        width: auto;
    }

    .info{
        width: auto;
    }
}

 @media screen and (min-width:900px) and (max-width:1024px){
    .main.res-size {
        flex-direction: column;
    }
    .sidebar,
    .content-table.raceInfo {
        width: auto;
    }

    .content-table {
        width: auto;
    }

    .raceResultsInfo,
    .info {
        width: auto;
        text-align: center;
    }

    .info{
        display: block;
        align-items: center;
    }

    .About {
        display: block;
        align-items: center;
        width: auto;
    }

    .raceResults {
        display: block;
        align-items: center;
    }
}

@media screen and (min-width:768px) and (max-width:900px) {

    .main.res-size {
        flex-direction: column;
    }
    .sidebar,
    .content-table.raceInfo {
        width: auto;
    }

    .content-table {
        width: 90%;
    }

    .raceResultsInfo,
    .info {
        width: auto;
        text-align: center;
    }

    .raceResults {
        display: block;
        align-items: center;
    }

    .info{
        display: block;
        align-items: center;
    }

    .About {
        display: block;
        align-items: center;
        width: auto;
    }

}

@media screen and (min-width:411px) and (max-width: 768px) {

    .sidebar,
    .content-table.raceInfo {
        width: auto;
    }

    .content-table {
        width: 90%;
    }

    .main.res-size {
        flex-direction: column;
    }

    .raceResultsInfo,
    .info {
        width: auto;
        text-align: center;
    }
    .About {
        display: block;
        align-items: center;
    }
  
    .raceResults {
        display: block;
        align-items: center;
    }

    .info{
        margin:0 5px 0 5px;
        background-color: #46444e;
    }

    .content-table.details-info{
        width: auto;
    }


}

@media screen and (max-width: 680px) {

    .main {
        flex-direction: column;
    }

    .sidebar {
        width: auto;
        max-height: 400px;
        text-align: center;
    }

    .driverBody {
        width: auto;
    }

    .content-table {
        margin: auto;
        font-size: 10px;
    }

    .content-table.details-info{
        margin-top: 30px;
    }

    .info{
        margin-top: 5px;
        background-color: #46444e;
    }

    .title {
        text-align: center;
    }

    .info,
    .raceResultsInfo {
        width: auto;
        text-align: center;
        border: none;
    }
    .About {
        display: block;
        align-items: center;
    }
    
    .details-info {
        width: auto;
        margin: auto;
        font-size: 10px;
    }

    .raceResults {
        display: block;
        align-items: center;
    }

}

  











